.contactContainer {
    padding-top: 10rem;
    padding-bottom: 2rem;
    color: white;
}

.footerGradient {
    background: radial-gradient(95.95% 63.46% at 92.85% 6.98%, rgba(69, 175, 255, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), #08121B;
}

.footer {
    padding-top: 8rem;
}

.formField {
    border-radius: 0%;
    color: white;
    background: none;
    border: none;
    border-bottom: solid 1px rgb(255, 255, 255);
    padding: 0.5rem;
    margin-bottom: 2rem;
}

.formField:focus {
  background: none;
  border-bottom: solid 1px var(--main-accent)
}

.formField::placeholder {
    color: #c9c9c9;
    font-size: 20px;
}

.formBtn {
    border: 1px solid var(--main-accent);
    border-radius: 25px;
    padding: 10px 65px;
    background: none;
    color: white;
}

.formBtn:hover {
    background: var(--main-accent);
    color: white;
    border: 1px solid var(--main-accent);
}


.rightAlign {
    text-align: right;
}

.footerHeading {
    font-family: 'NeueMachina-Medium';
    font-size: 2rem;
    color: #45AFFF;
}

.name-footer {
    background: linear-gradient(222deg, #45AFFF 18.49%, #08121B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    font-weight: 500;
    padding-bottom: 2rem;
}