.container-light {
    background-color: white;
    border-radius: 25px;
}


.containerStyle {
    background-color: white;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: left;
    border-radius: 25%;
}


