.container-light {
    background-color: white;
    border-radius: 25px !important;
}


.containerStyle {
    background-color: white;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: left;
    border-radius: 25%;
}

.projectRow {
    justify-content: center;
}

.projectCol {
    justify-content: center;
    max-width: 800px;
    padding: 3rem;
    justify-content: center;
}

    .projectImg {
    height: 300px;
    object-fit: cover;
    }