:root {
  --main-accent: #45AFFF;
  --main-dark: #0C1821;
  --pd-top: padding-top: 10rem;
  --pd-bottom: padding-bottom: 10rem;
}

p {
  font-size: 20px;
  font-family: 'Arbeit-Regular';
  line-height: 2rem;
}

a {
  color: whitesmoke !important;
  text-decoration: none !important;
}

a:hover {
  color: var(--main-accent) !important;
  text-decoration: none !important;
}



.buttonLight {
  border: 1px solid white;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  background: none;
}

.buttonLight:hover {
  border: 1px solid var(--main-accent);
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  background: var(--main-accent);
}

.buttonDark {
  border: 1px solid var(--main-dark);
  border-radius: 30px;
  padding: 10px 30px;
  background: none;
}

.buttonDark:hover {
  border: 1px solid var(--main-dark);
  border-radius: 25px;
  background-color: var(--main-dark);
  color: white;
}

@font-face {
  font-family: 'NeueMachina-Regular';
  src: url('components/styles/fonts/PPNeueMachina-PlainRegular.woff2') format('woff2'),
       url('components/styles/fonts/PPNeueMachina-PlainMedium.woff') format('woff');
}

@font-face {
  font-family: 'NeueMachina-Medium';
  src: url('components/styles/fonts/PPNeueMachina-PlainMedium.woff2') format('woff2'),
       url('components/styles/fonts/PPNeueMachina-PlainMedium.woff') format('woff');
}


@font-face {
  font-family: 'Arbeit-Regular';
  src: url('components/styles/fonts/Arbeit-Regular.otf') format('otf');
}




h1 {
  font-family: 'NeueMachina-Regular';
  font-size: 6rem;
}

h2 {
  font-family: 'NeueMachina-Medium';
  font-size: 4rem;
}

h3 {
  font-family: 'NeueMachina-Medium';
}

h4 {
  font-family: 'NeueMachina-Medium';
  font-size: 2rem;
  color: #45AFFF;
}

span {
  color: var(--main-accent);
}



